<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<title>模板系统</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/docs.css" />
		<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/ext-style.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/library/ext-base.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/js/library/ext-all.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/js/plugin/TabCloseMenu.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/js/docs.js"></script>
		<script type="text/javascript">
            function logout() {
            	Ext.MessageBox.confirm('注意', '  您确定要注销系统吗?', function(btn) {
            		if ('yes' == btn) {
            			window.location.href = "${rc.contextPath}/user/logout.do";
            		}
            	});
            }
            
            function openWin(url) {　
            	window.open(url, 'newwindow', 'height=255, width=500, top=270, left=400, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
            }
            
            function openDialog(url) {
            	var str = showModalDialog(url, "", 'dialogWidth:700px;dialogHeight:320px;help:no;status:no;scroll:no');
            	if (str == "success")
            		window.location.reload();
            }
        </script>
	</head>

    <body id="docs" onload="extLayout();">
    
    	<div id="loading-mask" style=""></div>
    	<div id="loading">
    		<div class="loading-indicator">
    			<img src="${rc.contextPath}/images/extanim32.gif" width="32" height="32" style="margin-right: 8px;" /> 系统加载中...
    		</div>
    	</div>
    	$!mainMenu
    	<div id="header" style="background: #267ec5">
    		<table width="100%" border="0" align="right" cellspacing="0" style="font-size: 12px;background: #267ec5" height="20%">
    			<tr>
    				<td align="left">
    					<span style="font-family:楷体;font-size:32px;font-style:italic;font-weight:bold;color:#FFFFFF">模板系统</span>
						<span style="font-size:28px;font-style:italic;color:#FFFFFF">(ERP)</span>
    				</td>
    				<td width="450" height="64" scope="col" valign="middle">
    					<div align="left" style="color: #FFFFFF">
    						您好!${userinfo.name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录时间：
    						 ${date.get('yyyy-MM-dd')}
    					</div>
    					<br /> 
						##<img src="/images/tc1.gif" width="10" height="10" style="padding-left: 5px" /> &nbsp; <a href="javascript:openDialog('rights/techSupport.jsp')" style="color: #FFFFFF">技术支持</a>
    					<img src="${rc.contextPath}/images/tc2.gif" width="10" height="10" style="padding-left: 5px" /> &nbsp; <a href="javascript:openWin('${rc.contextPath}/user/changePassword.do')" style="color: #FFFFFF">修改密码</a> 
						<img src="${rc.contextPath}/images/tc.gif" width="10" height="10" style="padding-left: 5px" /> &nbsp; <a href="javascript:logout()" style="color: #FFFFFF">注销</a>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<div id="classes"></div>
    </body>
</html>