<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Error</title>
		#parse("commons/meta.vm")
		<link rel="stylesheet" href="${ctx}/css/style.css">
		<script type="text/javascript">
		 	$(document).ready(function(){
		 		$("#button").click(function(){
		 			jQuery.get("${ctx}/test/asyncGetUserByPage",function(result){
		 				alert(result[0].name);
		 			});
		 		});
                $("#block").click(function() {
                	jQuery.blockUI({message: '<img src=\"${ctx}/css/ajax-loader.gif\" alt=\"请等待，正在处理...\">'});
					setTimeout(function() {
                    	jQuery.unblockUI();
                    }, 3000);
                });
                $("#unblock").click(function() {
                	jQuery.unblockUI();
                });
		 	});
		</script>
	</head>

	<body>
		<div class="errorPage">
			<p>欢迎 $!name</p>
			<p>当前时间  ${date.format('yyyy-MM-dd',$currentDate)}</p>
			${date.get('yyyy-MM-dd')}
			<p>$!message</p>
		</div>
		${Constants.NORMAL}
		<button id="button">获取用户</button><br/>
		<button id="block">block</button>
		<button id="unblock">unblock</button>
		<div id="carTypeDiv"></div>
		$Constants.USER_ENABLE
	</body>
</html>