<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.CarTypeMapper">

	<select id="getCarTypes" resultType="CarType">
		select a.cartype_num  carTypeNum,
		       a.cartype_name carTypeName,
		       a.factory_num  factoryNum
		  from cartype a
	</select>
	
</mapper>