<!DOCTYPE html>
<html lang="zh-Hans">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>修改用户密码</title>
		#parse("commons/meta.vm")
		<link rel="stylesheet" href="${ctx}/css/style.css">
		<script type="text/javascript" src="${ctx}/js/tools/PasswordUtils.js"></script>
	</head>

	<script language="javascript">
		function check(form) {
			if (form.passwordOld.value == "") {
				alert("请输入旧密码!");
				form.passwordOld.focus();
				return false;
			}
			if (form.password.value == "") {
				alert("请输入新密码!");
				form.password.focus();
				return false;
			}
			if (form.password1.value == "") {
				alert("请确认新密码!");
				form.password1.focus();
				return false;
			}
			if (form.password.value != form.password1.value) {
				alert("您两次输入的用户密码不一致，请重新输入!");
				form.password.value = "";
				form.password1.value = "";
				form.password.focus();
				return false;
			}
			var r = isWeakPassword(form.password.value);
			if (r != null && r != '' && r != 'undefined') {
				alert(r);
				return false;
			}
			Ext.Ajax.request({
				url: "${ctx}/user/doChangePassword.do?time=" + new Date().getTime(),
				success: function(response, option) {
					var data =Ext.decode(response.responseText);
        			if(data.success){
        				alert("密码修改成功,请重新登录!");
						window.close();
        			} else {
						alert(data.errorMsg);
					}
				},
				params: {
					password: Ext.getDom("password").value,
					passwordOld: Ext.getDom("passwordOld").value
				}
			});
		}
	</script>

	<body>
		<table width="500" height="250" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tableBorder_gray">
			<tr>
				<td valign="top">
					<table width="100%" height="202" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<table width="100%" height="131" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td align="center" valign="top">
											<form name="form1" method="post" action="">
												<table height="123" border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td colspan="2"><span style="color:red">密码长度必须不小于8位,并且不能全为数字或者字符</span></td>
													</tr>
													<tr>
														<td height="28" align="center">
															原 密 码：
														</td>
														<td>
															<input name="passwordOld" type="password" id="passwordOld" style="width:200px" value=""> </td>
													</tr>
													<tr>
														<td height="28" align="center">
															新 密 码：
														</td>
														<td>
															<input name="password" type="password" id="password" style="width:200px"> </td>
													</tr>
													<tr>
														<td height="28" align="center">
															确认新密码：
														</td>
														<td>
															<input name="password1" type="password" id="password1" style="width:200px"> </td>
													</tr>
													<tr>
														<td height="37" align="center">&nbsp; </td>
														<td>
															<input name="Submit" type="button" value="保 存" onClick="return check(form1)"> &nbsp;
															<input name="Submit2" type="reset" value="重 置"> &nbsp;
														</td>
													</tr>
												</table>
											</form>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>

</html>